
/*
---------LOGO---------
*/

.logo{
    transition: .5s;
}

.logo:hover{
    transform: rotate(-20deg);
    cursor: pointer;
}


/*
-------PHOTO OVERLAY ANIMATIONS------
*/

.photo-overlay{
    transition: opacity .5s;
    opacity: 0;
}

.photo-overlay:hover{
    opacity: 1;
}

.photo-overlay:hover .button{
    opacity: 1;
}


/*
----------ZOOM IN-----------
*/

.zoom-in img{
    transition: .5s;
    transform-origin: top left;
}

.zoom-in:hover img{
    transform: scale(1.2);
}



/*
-----SLIDE------
*/

.slide .photo-overlay,
.slide img{
    transition: transform .5s ease-out;
}

.slide .photo-overlay{
    opacity: 1;
    transform: translateX(-100%);
}

.slide:hover .photo-overlay{
    transform: translateX(0);
}

.slide:hover img{
    transform: translateX(100%);
}

.slide .button{
    opacity: 1;
}



/*
-------BUTTON ANIMATIONS-------
*/

.button{
    color: #fff;
    background: rgba(3, 0, 172, .6);
    opacity: 0;
    transition: opacity .4s .4s, background .4s .2s, border-radius .2s, box-shadow .3s;
}

.button:hover{
    background: rgba(3, 0, 172, 1);
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .7);
}

.button:active{
    background: rgb(1, 85, 163);
}

.btn-icon{
    transition: opacity, left ;
    transition-timing-function: ease-out;
    transition-duration: .6s;
    transition-delay: .3s;
}

.button:hover .btn-icon{
    opacity: 1;
    left: 80%;
}


/*
----------3D flip animation-------------
*/

.flip-container{
    perspective: 700px;
}

.flip{
    transition: transform 1s cubic-bezier(.55, -.62, .27, 1.2);
    transform-style: preserve-3d;
}

.flip:hover{
    transform: rotateX(-180deg);
}

.flip-overlay{
    transform: rotateX(180deg);
    background: rgb(0, 102, 255);
}


